@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Roboto", sans-serif;
}


@media (min-width: 1024px) and (max-width: 1170px) {
    .navLink {
      gap: 5px; 
    }
  }

@media (min-width: 1200px) and (max-width: 1370px) {
    .bordered {
      width: 110px; 
    }
  }

@media (min-width: 1024px) and (max-width: 1200px) {
    .bordered {
      width: 90px; 
      left: 80px;
    }
    /* banner left margin */
    .leftMargin{
      padding-left: 48px !important;
    }
  }